@page
@{
    ViewData["Title"] = "Privacidade";
}

<div class="introducao text-center">
    <h1 class="display-4"></h1>
    <img class="logo-grande" src="images/logo.svg" alt="Vital Fit" />
    <h4>A maior loja de artigos esportivos trazendo a maior segurança e privacidade para você.</h4>
</div>

<h1 class="titulo-principal">@ViewData["Title"]</h1>

<p>
    A sua privacidade é importante para nós. Nossa política de privacidade esclarece como
    coletamos, usamos e protegemos suas informações pessoais.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere mollitia voluptate voluptates suscipit cumque quae aliquam blanditiis incidunt tempora dignissimos delectus tenetur, impedit laudantium minima voluptatem aut repellat quod molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae ullam sit, ad nobis ab corporis iste consequuntur, dicta eius officiis vel quam ut! Itaque molestiae soluta cupiditate explicabo nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quo architecto esse cupiditate ullam porro, quis quia non deleniti consequatur veniam est sapiente. Accusamus voluptas necessitatibus nam temporibus porro eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam est minima omnis placeat, ea tempore explicabo, aspernatur laborum modi laudantium asperiores iste, nisi esse libero. Vitae deleniti nesciunt molestias?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos necessitatibus similique, provident amet explicabo alias libero qui aliquam, corporis voluptatem veniam minus. Recusandae repellendus facilis ex tenetur incidunt beatae quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eum sed, totam ullam eaque maiores! Ea incidunt quasi deserunt dolorum! Amet quis mollitia fugit eaque cum rerum et. Et, cumque!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eum recusandae dolore ipsa enim. Modi tenetur excepturi corporis sed dicta reprehenderit architecto ab corrupti, delectus minima porro illum esse nobis?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque hic quaerat praesentium, blanditiis dolorum labore ex et cupiditate incidunt odit culpa voluptate iste nam consequuntur ipsum impedit totam minima. Impedit.</p>
